<div class="footer  p-50 " style="height: 100%; ">
    <div class="d-flex bd-highlight f-szRe09">
        <div class="p-2 flex-fill bd-highlight">
            <h5> About Us</h5>
            <p class="c-gr">
                Web4ex solution is a tight-knit team of energetic web<br> developers with a passion
                for getting great results.We <br> provide personal,
                local service to our clients from all<br> over the India.
            </p>
        </div>
        <div class="p-2 flex-fill bd-highlight li-st-ty ">
            <h5> Navigation</h5>
            <li class=" pointer c-gr" *ngFor="let item of menus"><a  (click)="menuLink(item.url)">{{item.name}}</a>
            </li>

        </div>
        <div class="p-2 flex-fill bd-highlight">
            <h5> Get in touch </h5>
            <div class="mb-3">
                <input type="email" class="form-control w-75" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-danger">Submit </button>

        </div>
    </div>
    <div class="d-flex justify-content-center p-30">
        <a class="tx-dec c-gr p-l-40 a" target="_blank" href="https://www.facebook.com/web4exsolution"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="tx-dec c-gr p-l-40 a" target="_blank" href="https://twitter.com/web4exsolution"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="tx-dec c-gr p-l-40 a" target="_blank" href="https://www.instagram.com/web4exsolution/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="tx-dec c-gr p-l-40 a" target="_blank" href="https://www.linkedin.com/web4exsolution?_l=en_US"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <div class="d-flex justify-content-center p-10 c-gr">
        <p>Copyright ©2021 All rights reserved | licensed under by Web4exsolution</p>
    </div>
</div>