<div>
    <span class="header c-grAj tx-tr le-spRe f-szRe075 f-wht4 d-flex justify-content-center">RECENT WORKS</span>
    <h2 class="sub-header c-rd f-szRe22 p-10 d-flex justify-content-center">Our Clients</h2>
     <div class="container">
        <div class="row p-10">
            <div class="col">
                <img src="https://www.web4exsolution.com/static/images/gym.jpg" alt="" style="width:30%; height: auto;">
            </div>
            <div class="col">
                <h5> Worlds Gym Fitness</h5>
                We done a dynamic website with mobile responsive by using a latest technology and we provided the
                digital
                marketing to explore their training works among the people
            </div>
        </div>
        <div class="row p-10">
            <div class="col"><img src="https://www.web4exsolution.com/static/images/loan1.png" alt="" style="width:30%; height: auto;"></div>
            <div class="col">
                <h5> Easy Loan Care</h5>
                RAS Security & Allied Service is a man power security service company,we done static website with mobile
                responsive and also provided a digital marketing to explore their man power services among the people
            </div>
        </div>
        <div class="row p-10">
            <div class="col"><img src="https://www.web4exsolution.com/static/images/ras.png" alt="" style="width:30%; height: auto;"></div>
            <div class="col">
                <h5> RAS security & Allied Service</h5>
                Easy loan care is loan service provider,we done a creative dynamic website by using latest technology
                and also provided a digital marketing to explore their loan services among the people
            </div>
        </div>
        <div class="row p-10">
            <div class="col"><img src="https://www.web4exsolution.com/static/images/albeck.jpg" alt=""
                style="width:30%; height: auto;"></div>
        <div class="col">
            <h5 > AL-Beck Resturant</h5>
            AL-Beck Resturant is a food resturant,we done a dynamic website with table booking and online order
            features by using latest technology and also provided a digital marketing to explore their man power
            services among the
            people
        </div>
        </div>
    </div>

</div>