<div class="parent w-100 hover-shadow">
    <span class="header c-grAj tx-tr le-spRe f-szRe075 f-wht4">what we do</span>
    <h2 class="sub-header c-rd f-szRe22 p-30">Our Services</h2>
    <div class="main-card d-flex flex-row bd-highlight mb-3 p-l-220 card-deck cd-hov ">
        <div class="card w-rem18 h-rem18 sub-card ">
            <div class="card-body p-30 b-top ">
                <h5 class="card-title f-szRe1 c-blcustom headercustom">Web Design</h5>
                <p class="card-text f-szRe09 c-gr ">Our designer design a user-interface that flows freely, allowing
                    users to navigate easily and find what you
                    need quickly and efficiently.</p>
            </div>
        </div>

        <div class="card w-rem18 h-rem18 sub-card ">
            <div class="card-body p-30 b-top ">
                <h5 class="card-title f-szRe1 c-blcustom headercustom">Development</h5>
                <p class="card-text f-szRe09 c-gr">We are develop an accurate and
                    flexible model describing project & we are providing services to enterprises across the world and
                    marketing needs.</p>
            </div>
        </div>

        <div class="card w-rem18 h-rem18 sub-card">
            <div class="card-body p-30 b-top ">
                <h5 class="card-title f-szRe1 c-blcustom headercustom">eCommerce</h5>
                <p class="card-text f-szRe09 c-gr">Our ecommerce website developers build responsive, search-engine
                    friendly, and secure eCommerce stores. As a result, the easy-to-navigate user
                    interface attracts more customers to search & buy their favorite products from your website or
                    mobile app.</p>
            </div>
        </div>
    </div>

    <div class="main-card d-flex flex-row bd-highlight mb-3 p-l-220 card-deck">
        <div class="card w-rem18 h-rem18 sub-card">
            <div class="card-body p-30 b-top ">
                <h5 class="card-title f-szRe1 c-blcustom headercustom ">Application Development</h5>
                <p class="card-text f-szRe09 c-gr">We have technically skilled and enthusiastic developers who will give
                    you the best and most simple application to fulfill your business needs. Our teams of developers are
                    also experts in
                    developing native Apps also cross-platform Apps that can be launched on Smartphone’s and hand-held
                    devices.</p>
            </div>
        </div>

        <div class="card w-rem18 h-rem18 sub-card">
            <div class="card-body p-30 b-top ">
                <h5 class="card-title f-szRe1 c-blcustom headercustom">Web Hosting</h5>
                <p class="card-text f-szRe09 c-gr">All of our hosting packages include the industry leading
                    control panel which means it's super easy for you to manage your own website without having to rely
                    on experts!</p>
            </div>
        </div>

        <div class="card w-rem18 h-rem18 sub-card">
            <div class="card-body p-30 b-top ">
                <h5 class="card-title f-szRe1 c-blcustom headercustom">Search Engine Optimization</h5>
                <p class="card-text f-szRe09 c-gr">Team of SEO specialists help you build a plan of attack that
                    optimises your organic rankings for key search queries,
                    our SEM team can create and deploy paid ad campaigns that drive traffic, leads and revenue for your
                    brand.</p>
            </div>
        </div>
    </div>

</div>