<div class="d-flex flex-row bd-highlight mb-2 p-60" fxLayoutGap="20px">
    <img src="https://www.web4exsolution.com/static/images/glint_about_1.jpg" class="rounded float-start " alt="..."
        style="width: 40%; height: auto;">
    <div class="p-l-40">
        <span class="header c-grAj tx-tr le-spRe f-szRe075 f-wht4">ACQUAINT US</span>
        <h2 class="sub-header c-rd f-szRe22 ">About us</h2>
        <p class="f-szRe09 c-gr">
            Over one year we've fostered great relationships with our clients. We've always focused on making websites
            better for everyone, so our clients can focus on what they do best: selling their products and services.
            Today, web4ex
            solution is a tight-knit team of energetic web developers with a passion for getting great results. We
            provide personal,
            local service to our clients from all over the India.
        </p>
        <div class="unorderlist d-flex flex-row bd-highlight mb-2 f-szRe09 c-gr p-10">
            <ul class="li-st-ty">
                <li> <i class="fa fa-check c-gre p-b-10" aria-hidden="true"></i> Design </li>
                <li> <i class="fa fa-check c-gre p-b-10" aria-hidden="true"></i> Development </li>
                <li> <i class="fa fa-check c-gre p-b-10" aria-hidden="true"></i> eCommerce </li>
            </ul>
            <ul class="li-st-ty">
                <li> <i class="fa fa-check c-gre p-b-10" aria-hidden="true"></i> Mobile Apps </li>
                <li> <i class="fa fa-check c-gre p-b-10" aria-hidden="true"></i> Web Hosting </li>
                <li> <i class="fa fa-check c-gre p-b-10" aria-hidden="true"></i> SEO </li>
            </ul>
        </div>
        <div class="youvideo f-fam p-10 d-flex flex-row bd-highlight mb-2  ">
            <a class="tx-dec c-rd-custom " target="_blank" href="https://youtube.com/embed/b_HSz9KS1Po">
                <i class="fa fa-play-circle-o fa-2x " aria-hidden="true"></i>
            </a>
            <a class="tx-dec c-rd-custom" target="_blank" href="https://youtube.com/embed/b_HSz9KS1Po"><span class="p-l-10">Watch the video</span></a>
        </div>

    </div>

</div>