<div>
    <h2 class="sub-header c-rd f-szRe22 p-30 d-flex justify-content-center">Address & Location</h2>
    <div class="d-flex justify-content-center flex-row bd-highlight mb-2 p-20 ">
        <div class="card  w-rem40 h-rem20 f-szRe09 m-b-1rem mr-3 ">
            <div class="card-body">
                <h5 class="card-title">Address</h5>
                <p class="card-text">
                    No.12, Kannathasan Street, Shanmuga Nagar
                    Kundrathur Main Road, Madhanandhapuram
                    Porur, Chennai-600 125, India
                </p>
                <h5 class="card-title">Contact</h5>
                <p class="c-rd-custom ">
                    <a href="tel:+91 8056296172">+91 8056296172</a>
                    <br>
                    <a href="tel:+91 9677024946">+91 9677024946</a>
                </p>
                <h5 class="card-title ">Email Address</h5>
                <p class="c-rd-custom">
                    <a href="mailto:info@web4exsolution.com">info@web4exsolution.com</a>
                </p>

            </div>

        </div>
        <div class="card w-rem40 h-rem20">
            <div class="card-body">
                <h5 class="card-title " fxLayoutAlign="center centre">Location</h5>
                <div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d62177.9047661902!2d80.27861800000005!3d13.0916409!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1548756227118"
                        width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</div>